@import 'layout';

// Variables
//
// Add global variables here, color palette, those variables shared by components all applied to global styling

// ====================================================================
// Breakpoints
//
// Window breakpoints
// ====================================================================
$layout-mobile: map-get($layout, mobile) + px;
$layout-tablet: map-get($layout, tablet) + px;
$layout-desktopSm: map-get($layout, desktopSm) + px;
$layout-desktopMd: map-get($layout, desktopMd) + px;
$layout-desktopLg: map-get($layout, desktopLg) + px;

// ====================================================================
// Base palette
//
// Grayscale and brand colors for use across the site.
// ====================================================================
$white: #fff;
$black: #000;
$color-bg-primary: darken($color-1-bold, 60%);
$color-bg-secondary: darken($color-1-bold, 30%);
$color-text-primary: lighten($color-3-bold, 10%);
$color-text-secondary: lighten($color-3-pastel, 20%);
$color-1-bold: #6961E5;
$color-1-pastel: #997CFF;
$color-2-bold: #FF84FF;
$color-2-pastel: #FFCEEE;
$color-3-bold: #70FFFF;
$color-3-pastel: #B8F8FF;

// ====================================================================
// General
//
// Global color variables, used usually in sections
// Global variables used across the web app
// ====================================================================
$page-bg-color: $white;
$element-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.04);

// ====================================================================
// Nav bar
// ====================================================================
$navbar-height-mobile: px(60);
$navbar-height-desktop: px(80);

// ====================================================================
// List of z-index element
// ====================================================================
$elements: pages, main-nav, rotate;
